.navbar.is-primary {
  text-align: center;
}
.navbar-item {
  color: #ffffff
}
.tab-container {
  padding: 35px 15px 30px 15px;
}

@media screen and (min-width: 1024px) {
  .navbar-item {
    display: block;
  }
  .navbar {
    display: block;
  }
}

.toolTip {
  position: absolute;
  font: 10px sans-serif;
  font-weight: bold;
  display: none;
  width: 70px;
  height: 55px;
  background: #ffffff;
  border: 2px solid #00CBA9;
  border-radius: 4px;
  padding: 2px;
  text-align: center;
  pointer-events: none;
}
