.navbar.is-primary {
  text-align: center;
}
.navbar-item {
  color: #ffffff
}
.tab-container {
  padding: 35px 15px 30px 15px;
}

@media screen and (min-width: 1024px) {
  .navbar-item {
    display: block;
  }
  .navbar {
    display: block;
  }
}
